body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 900px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: #fff8e7;
  border: 1px solid salmon;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: salmon;
  cursor: pointer;
}

main {
  margin: 1rem;
}

form {
  background-color: #fff8e7;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

form input {
  margin: 0.25rem 0;
}

form button[type="submit"] {
  width: 40%;
}

.router {
  margin-top: 50px;
  width: 50%;
  border: 3px solid salmon;
  padding: 10px;
  justify-content: center;
}
/* 
.route {
  justify-content: center;
} */

.summary {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: both;
}
